body {
    margin: 0;
    padding-top: 70px;
    font-family: Arial, sans-serif;
}

/* b. Use list style type: none for the list items. */
ul.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;           /* make list items in one line */
    justify-content: center; /* center horizontally */
    align-items: center;     /* center vertically */
    position: fixed;         /* make navbar fixed in the top*/
    top: 0;                  /* fixed the navbar in the position top 0*/
    width: 100%;
    height: 50px;
    background-color: black;
    z-index: 100;
}

/* c. Use display: inline-block for the list items. (Why?)
   To make items appear in one line and still accept width & height */
ul.navbar li {
    margin: 0 15px;           /*Space between them*/
}

/* Style links */
ul.navbar li a {
    display: flex;                 /* Centers the text inside the box*/ 
    justify-content: center;       /* both horizontally and vertically */
    align-items: center;
    
    text-decoration: none;          /* Removes the default underline from the links */
    font-size: 18px;                /* Sets the font size to 18px */

    width: 80px;
    height: 50px;
    background-color: black;
    color: white;
}

/* Handle hover */
ul.navbar li a:hover {
    background-color: rgb(5, 174, 5);
}

